@using AntDesign
@inherits LayoutComponentBase

<div class="main-layout">
    <NavBar />
    <div class="content-area">
        <div class="page-content">
            @Body
        </div>
    </div>
</div>