@using AntDesign
@using Microsoft.AspNetCore.Components.Web

<div class="task-card"
     @onclick="() => OnCardClick.InvokeAsync(Card)"
     draggable="true"
     @ondragstart="e => OnDragStart.InvokeAsync((Card, e))">
    
    <div class="task-card-content">
        <TypographyText Strong class="task-title">
            @Card.Title
        </TypographyText
    </div>

    <div class="task-card-hover-overlay">
        <Icon Type="edit" />
    </div>
</div>