@using AntDesign
@using TaskTracker.Client.Components.Cards
@using Microsoft.AspNetCore.Components.Web

<div class="task-card-list">
    @if (Cards?.Any() == true)
    {
        <div class="cards-container">
            @foreach (var card in Cards)
            {
                <TaskCard Card=@card
                          OnCardClick=@HandleCardClick />
            }
        </div>
    }
    else
    {
        <div class="empty-state">
            <div class="empty-icon">
                <Icon Type="inbox" Style="font-size: 24px;" />
            </div>
            <div class="empty-text">No tasks yet</div>
            <div class="empty-subtext">Add a task to get started</div>
        </div>
    }
    <div class="add-card-section">
        @if (IsAdding)
        {
            <div class="add-card-form">
                <div class="add-card-input-wrapper">
                    <TextArea @ref=@newCardInputRef
                              @bind-Value=@newTitle
                              Placeholder="Enter a title for this card..."
                              AutoSize="true"
                              MaxRows="4"
                              MaxLength="128"
                              ShowCount="true"
                              @onkeypress=@HandleKeyPress
                              @oninput=@HandleInput
                              class="add-card-textarea" />
                </div>
                <div class="add-card-buttons">
                    <Button Type=@ButtonType.Primary
                            Size=@ButtonSize.Small
                            Disabled=@(string.IsNullOrWhiteSpace(newTitle) || newTitle.Length > 128)
                            @onclick=@Save>
                        Add card
                    </Button>
                    <Button Type=@ButtonType.Text
                            Size=@ButtonSize.Small
                            Icon="close"
                            @onclick=@Cancel
                            class="cancel-btn" />
                </div>
            </div>
        }
        else
        {
            <Button Type=@ButtonType.Text
                    Icon="plus"
                    @onclick=@Start
                    class="add-card-trigger">
                Add card
            </Button>
        }
    </div>
</div>