@using AntDesign
@using Microsoft.AspNetCore.Components

<link href="css/BoardsHeader.css" rel="stylesheet" />

<div class="boards-header">
    <div class="header-left">
        @if (EnableTitleEdit)
        {
            <EditableBoardTitle Title=@Title
                                IsEditing=@IsTitleEditing
                                IsEditingChanged=@OnTitleEditingChanged
                                IsSaving=@IsTitleSaving
                                OnSave=@OnTitleSave />
        }
        else
        {
            <div class="title-container">
                <div class="title-icon">
                    <Icon Type="appstore" />
                </div>
                <div class="title-content">
                    <Title Level="2" Class="boards-title">
                        @Title
                    </Title>
                    <div class="title-subtitle">
                        <Text Type=@TextElementType.Secondary>
                            Manage and organize your projects
                        </Text>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="header-right">
        @if (ShowSearch)
        {
            <div class="search-container">
                <Input TValue="string"
                       @bind-Value=@SearchTerm
                       Placeholder="Search boards..."
                       Size=@InputSize.Large
                       Class="search-input"
                       @onkeypress=@OnSearchKeyPress
                       Disabled=@IsSearching />
                <Button Type=@ButtonType.Default
                        Size=@ButtonSize.Large
                        Class="search-button"
                        @onclick=@OnSearchButtonClick
                        Loading=@IsSearching>
                    <Icon Type="search" />
                </Button>
            </div>
        }
        @if (ShowMembersButton)
        {
            <Tooltip Title="View Members">
                <Button Size=@ButtonSize.Large
                        Type=@ButtonType.Default
                        Class="action-button"
                        @onclick=@OpenMembersDrawer>
                    <Icon Type="team" />
                    Members
                </Button>
            </Tooltip>
            <Tooltip Title="Archive Board">
                <Button Size=@ButtonSize.Large
                        Type=@ButtonType.Default
                        Class="action-button archive-button"
                        @onclick=@ArchiveBoard>
                    <Icon Type="inbox" />
                </Button>
            </Tooltip>
        }
        <Button Type=@ButtonType.Primary
                Size=@ButtonSize.Large
                Class="create-button"
                Icon="plus"
                @onclick=@OnCreateClick>
            @ButtonText
        </Button>
    </div>
</div>
