.boards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

    .boards-grid ::deep .board-card {
        width: 100%;
    }

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
