<div class="boards-header">
    <div class="header-left">
        @if (EnableTitleEdit)
        {
            <EditableBoardTitle Title=@Title
                                IsEditing=@IsTitleEditing
                                IsEditingChanged=@OnTitleEditingChanged
                                IsSaving=@IsTitleSaving
                                OnSave=@OnTitleSave />
        }
        else
        {
            <TypographyTitle Level="2" Class="boards-title">
                @Title
            </TypographyTitle>
        }
    </div>
    <div class="header-right">
        @if (ShowSearch)
        {
            <div class="search-container">
                <Input TValue="string"
                       @bind-Value=@SearchTerm
                       Placeholder="Search boards..."
                       Size=@InputSize.Large
                       Class="search-input"
                       @onkeypress=@OnSearchKeyPress
                       Disabled=@IsSearching />
                <Button Type=@ButtonType.Default
                        Size=@ButtonSize.Large
                        Class="search-button"
                        @onclick=@OnSearchButtonClick
                        Loading=@IsSearching>
                    <Icon Type="search" />
                </Button>
            </div>
        }
        @if (ShowMembersButton)
        {
            <Button Size=@ButtonSize.Large Type=@ButtonType.Default @onclick=@OpenMembersDrawer>
                <Icon Type="team" />
                @("Members")
            </Button>
            <Button Size=@ButtonSize.Large Type=@ButtonType.Default @onclick=@ArchiveBoard>
                <Text Type=@TextElementType.Danger>
                    <Icon Type="file-zip" />
                </Text>
            </Button>
            <Button Size=@ButtonSize.Large
                    Type=@ButtonType.Default
                    Icon="video-camera"
                    @onclick=@OnGoToVideoconference>
                Videoconference
            </Button>
        }
        <Button Type=@ButtonType.Primary
                Size=@ButtonSize.Large
                Icon="plus"
                @onclick=@OnCreateClick>
            @ButtonText
        </Button>
    </div>
</div>