<div class="boards-header">
    <div class="header-left">
        @if (EnableTitleEdit)
        {
            <EditableBoardTitle Title=@Title
                                IsEditing=@IsTitleEditing
                                IsEditingChanged=@OnTitleEditingChanged
                                IsSaving=@IsTitleSaving
                                OnSave=@OnTitleSave />
        }
        else
        {
            <TypographyTitle Level="2" Class="boards-title">
                @Title
            </TypographyTitle>
        }
    </div>
    <div class="header-right">
        @if (ShowSearch)
        {
            <Input TValue="string"
                   @bind-Value=@SearchTerm
                   Placeholder="Search boards..."
                   PrefixIcon="search"
                   Size=@InputSize.Large
                   Class="search-input"
                   OnChangeValue=@OnSearchChangedValue />
        }

        @if (ShowMembersButton)
        {
            <Button Size=@ButtonSize.Large Type=@ButtonType.Default @onclick=@OpenMembersDrawer>
                <Icon Type="team" />
                @("Members")
            </Button>

            <Button Size=@ButtonSize.Large Type=@ButtonType.Default @onclick=@ArchiveBoard>
                <Text Type=@TextElementType.Danger>
                    <Icon Type="file-zip" />
                </Text>
            </Button>
        }

        <Button Type=@ButtonType.Primary
                Size=@ButtonSize.Large
                Icon="plus"
                @onclick=@OnCreateClick>
            @ButtonText
        </Button>
    </div>
</div>