@page "/boards/{boardId:guid}"
@using AntDesign
@using TaskTracker.Client.Components.Columns
@using TaskTracker.Client.Components.Boards
@using TaskTracker.Client.Components.Cards
@using TaskTracker.Client.Components.Member

<div class="board-details-container">
    <BoardsHeader Title=@(_boardState.Board?.Title ?? "Loading…")
                  ShowSearch="false"
                  ShowMembersButton="true"
                  OnOpenMembers=@OpenMembersDrawer
                  OnCreateClick=@ShowColumnModal
                  ButtonText="Add Column"
                  EnableTitleEdit=@(_boardState.Board != null)
                  IsTitleEditing=@_boardState.IsTitleEditing
                  OnTitleEditingChanged=@OnTitleEditingChanged
                  IsTitleSaving=@_boardState.IsTitleSaving
                  OnTitleSave=@SaveBoardTitle />


    @if (!string.IsNullOrEmpty(_boardState.Error))
    {
        <Alert Type=@AlertType.Error Message=@_boardState.Error />
    }
    else if (_boardState.IsLoading)
    {
        <Spin Tip="Loading board…" />
    }
    else
    {
        <ColumnList Columns=@_boardState.Columns
                    CardsByColumn=@_boardState.CardsByColumn
                    IsLoading="false"
                    OnAddCard=@OnAddCard
                    OnCardClick=@OnCardClick
                    OnEditColumn=@OnColumnEdit
                    OnDeleteColumn=@OnColumnDelete />
    }

    <CreateColumn IsVisible=@_boardState.IsColumnModalVisible
                  IsVisibleChanged=@HideColumnModal
                  OnColumnCreated=@HandleColumnCreated
                  BoardId=@boardId />

    <CardDetailsModal IsVisible=@_cardModalState.IsVisible
                      IsVisibleChanged=@HideCardDetailsModal
                      Card=@_cardModalState.SelectedCard
                      Comments=@_cardModalState.Comments
                      IsTitleEditing=@_cardModalState.IsTitleEditing
                      IsTitleSaving=@_cardModalState.IsTitleSaving
                      IsDeleting=@_cardModalState.IsCardDeleting
                      OnTitleEditingChanged=@OnCardTitleEditingChanged
                      OnTitleSave=@SaveCardTitle
                      OnCardDelete=@OnCardDelete
                      IsCommentsLoading=@_cardModalState.IsCommentsLoading
                      IsCommentSubmitting=@_cardModalState.IsCommentSubmitting
                      OnCommentSubmit=@OnCommentSubmit
                      OnCommentEdit=@OnCommentEdit
                      OnCommentDelete=@OnCommentDelete />

    <MemberList BoardId=@boardId
                Members=@Members
                CurrentUserId=@GetCurrentUserId()
                MembersDrawerVisible=@MembersDrawerVisible
                InviteModalVisible=@InviteModalVisible
                IsLoading=@IsMembersLoading
                ErrorMessage=@MembersErrorMessage
                CurrentInviteStep=@CurrentInviteStep
                SearchEmail=@SearchEmail
                SearchEmailChanged=@(async (value) => SearchEmail = value)
                SearchError=@SearchError
                FoundUser=@FoundUser
                SelectedRole=@SelectedRole
                SelectedRoleChanged=@(async (value) => SelectedRole = value)
                IsSearching=@IsSearching
                IsSendingInvite=@IsSendingInvite
                OnMembersDrawerClose=@OnMembersDrawerClose
                OnOpenInviteModal=@OpenInviteModal
                OnCloseInviteModal=@CloseInviteModal
                OnEditRole=@HandleEditRole
                OnRemoveMember=@HandleRemoveMember
                OnUserSearch=@HandleUserSearch
                OnSendInvite=@HandleSendInvite
                OnBackToSearch=@BackToSearch />
</div>