@page "/changepassword"
@using AntDesign
@using Microsoft.AspNetCore.Components.Web

<Flex Justify=@FlexJustify.Center
      Align=@FlexAlign.Center
      Style="min-height:100vh; padding:16px;">
    <Card Hoverable="true"
          Style="width:100%; max-width:500px;">
        <Title Level="3" Style="text-align: center;">Change Password</Title>

        @if (isLoading)
        {
            <div style="text-align: center; padding: 2rem;">
                <Spin Size=@SpinSize.Large />
                <div style="margin-top: 1rem;">Loading...</div>
            </div>
        }
        else
        {
            <Space Direction=@SpaceDirection.Vertical
                   Size=@SpaceSize.Middle
                   Style="width:100%; padding:0 16px;">
                <SpaceItem>
                    <InputPassword @bind-Value=@currentPassword
                                   Placeholder="Current Password"
                                   Size=@InputSize.Large
                                   VisibilityToggle="true"
                                   Disabled=@isSubmitting
                                   OnPressEnter=@HandleEnterPress />
                </SpaceItem>
                <SpaceItem>
                    <InputPassword @bind-Value=@newPassword
                                   Placeholder="New Password"
                                   Size=@InputSize.Large
                                   VisibilityToggle="true"
                                   Disabled=@isSubmitting
                                   OnPressEnter=@HandleEnterPress />
                </SpaceItem>
                <SpaceItem>
                    <InputPassword @bind-Value=@confirmPassword
                                   Placeholder="Confirm New Password"
                                   Size=@InputSize.Large
                                   VisibilityToggle="true"
                                   Disabled=@isSubmitting
                                   OnPressEnter=@HandleEnterPress />
                </SpaceItem>
            </Space>
            <Divider />
            <div class="password-section">
                <Button Block="true"
                        Type=@ButtonType.Primary
                        Size=@ButtonSize.Large
                        Loading=@isSubmitting
                        Disabled=@(!IsFormValid() || isSubmitting)
                        OnClick=@ChangePassword>
                    @(isSubmitting ? "Changing..." : "Change Password")
                </Button>
                <Button Block="true"
                        Type=@ButtonType.Default
                        Size=@ButtonSize.Large
                        Disabled=@isSubmitting
                        OnClick=@Cancel>
                    Cancel
                </Button>
            </div>
        }
    </Card>
</Flex>