@using AntDesign
@using TaskTracker.Client.Components.Cards

<div class="column-card">
    <div class="column-header">
        <div class="column-title-section">
            <TypographyTitle Level="5" Class="column-title">
                @Column.Title
            </TypographyTitle>
            <Badge Count=@(Cards?.Count ?? 0) 
                   Class="task-count-badge" 
                   ShowZero="true" />
        </div>
        
        <Dropdown Trigger=@(new Trigger[] { Trigger.Click }) 
                  Placement=@Placement.BottomRight>
            <Overlay>
                <Menu>
                    <MenuItem Key="edit" OnClick=@HandleEdit>
                        <Icon Type="edit" />
                        Edit
                    </MenuItem>
                    <MenuItem Key="delete" OnClick=@HandleDelete Class="delete-menu-item">
                        <Icon Type="delete" />
                        Delete
                    </MenuItem>
                </Menu>
            </Overlay>
            <ChildContent>
                <Button Type=@ButtonType.Text 
                        Size=@ButtonSize.Small 
                        Icon="more"
                        Class="column-menu-btn" />
            </ChildContent>
        </Dropdown>
    </div>
    
    <div class="column-content">
        <TaskCardList Cards=@Cards
                      OnCardClick=@OnCardClick
                      OnAddCard=@HandleAddCard />
    </div>
</div>