@using AntDesign
@using TaskTracker.Client.Components.Cards
@using TaskTracker.Client.Components.Columns
@using Microsoft.AspNetCore.Components
@using TaskTracker.Client.DTOs.Column

<div class="column-list">
    @if (IsLoading)
    {
        <div class="loading-state">
            <Spin Size=@SpinSize.Large />
        </div>
    }
    else if (Columns?.Any() == true)
    {
        @foreach (var column in Columns)
        {
            <ColumnCard Column=@column
                        Cards=@GetCards(column.Id)
                        IsLoading=@IsLoading
                        IsTitleEditing=@IsColumnTitleEditing(column.Id)
                        OnTitleEditingChanged=@(async (isEditing) => await OnColumnTitleEditingChanged(column.Id, isEditing))
                        IsTitleSaving=@IsColumnTitleSaving
                        OnTitleSave=@HandleColumnTitleSave
                        OnCardClick=@OnCardClick
                        OnAddCard=@HandleAddCard
                        OnEditColumn=@(EventCallback.Factory.Create<ColumnDto>(this, async (col) => await OnEditColumn.InvokeAsync((col.Id, col.Title))))
                        OnDeleteColumn=@OnDeleteColumn
                        OnColumnMove=@HandleColumnMove
                        BoardColumns=@Columns />
        }
    }
    else
    {
        <div class="no-columns">
            <h4>No columns available</h4>
        </div>
    }
</div>
