@using AntDesign
@using TaskTracker.Client.Components.Cards
@using TaskTracker.Client.Components.Columns
@using Microsoft.AspNetCore.Components

<div class="column-list">
    @if (IsLoading)
    {
        <Spin Tip="Loading columns..." />
    }
    else if (Columns?.Any() == true)
    {
        @foreach (var column in Columns)
        {
            <ColumnCard Column=@column
                        Cards=@GetCards(column.Id)
                        OnCardClick=@OnCardClick
                        OnAddCard=@HandleAddCard
                        OnEditColumn=@OnEditColumn
                        OnDeleteColumn=@OnDeleteColumn />
        }
    }
    else
    {
        <div class="no-columns">
            <h4>No columns available</h4>
        </div>
    }
</div>
