@page "/boards/{boardId:guid}/videoconference"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.JSInterop
@using AntDesign


<div class="video-conference-page">
    <Card Class="h-full">
        <ChildContent>
            <Extra>
                <Button Type=@ButtonType.Default Icon="arrow-left" OnClick=@GoBack Style="margin-bottom: 16px;">
                    Back to board
                </Button>
            </Extra>

            @if (!_isConnected)
            {
                <Body>
                    <div class="flex items-center justify-center h-96">
                        <Space Direction=@SpaceDirection.Vertical Align=@SpaceAlign.Center>
                            <SpaceItem><Spin Size=@SpinSize.Large /></SpaceItem>
                            <SpaceItem><Text>Connection...</Text></SpaceItem>
                        </Space>
                    </div>
                </Body>
            }
            else
            {
                <Body>
                    <div class="video-grid mb-6">
                        <div class="video-container local">
                            <video id="localVideo" autoplay playsinline muted class="video-element"></video>
                            <div class="video-overlay">
                                <Text Strong Class="text-white">You</Text>
                                <Space Class="ml-auto">
                                    @if (!_isCameraEnabled)
                                    {
                                        <SpaceItem><Icon Type="video-camera-slash" Class="text-red-500" /></SpaceItem>
                                    }
                                    @if (!_isMicrophoneEnabled)
                                    {
                                        <SpaceItem><Icon Type="audio-muted" Class="text-red-500" /></SpaceItem>
                                    }
                                </Space>
                            </div>
                        </div>

                        @foreach (var user in _connectedUsers)
                        {
                            <div class="video-container remote">
                                <video id="remoteVideo_@user.Key" autoplay playsinline class="video-element"></video>
                                <div class="video-overlay">
                                    <Text Strong Class="text-white">@user.Value.Name</Text>
                                    <Space Class="ml-auto">
                                        @if (!user.Value.CameraEnabled)
                                        {
                                            <SpaceItem><Icon Type="video-camera-slash" Class="text-red-500" /></SpaceItem>
                                        }
                                        @if (!user.Value.MicEnabled)
                                        {
                                            <SpaceItem><Icon Type="audio-muted" Class="text-red-500" /></SpaceItem>
                                        }
                                    </Space>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="control-panel">
                        <Space Size=@SpaceSize.Large Class="justify-center">
                            <SpaceItem>
                                <Button Type=@(_isCameraEnabled? ButtonType.Primary: ButtonType.Dashed)
                                        Shape=@ButtonShape.Circle
                                        Size=@ButtonSize.Large
                                        Icon=@(_isCameraEnabled ? "video-camera" : "eye-invisible")
                                        OnClick=@ToggleCamera />
                            </SpaceItem>

                            <SpaceItem>
                                <Button Type=@(_isMicrophoneEnabled? ButtonType.Primary: ButtonType.Dashed)
                                        Shape=@ButtonShape.Circle
                                        Size=@ButtonSize.Large
                                        Icon=@(_isMicrophoneEnabled ? "audio" : "audio-muted")
                                        OnClick="@ToggleMicrophone" />
                            </SpaceItem>

                            <SpaceItem>
                                <Button Type=@(isScreenSharing? ButtonType.Primary: ButtonType.Default)
                                        Shape=@ButtonShape.Circle
                                        Size=@ButtonSize.Large
                                        Icon="desktop"
                                        OnClick=@ToggleScreenShare
                                        Loading=@isScreenShareLoading />
                            </SpaceItem>

                            <SpaceItem>
                                <Button Danger="true"
                                        Shape=@ButtonShape.Circle
                                        Size=@ButtonSize.Large
                                        Icon="phone"
                                        OnClick=@LeaveConference />

                            </SpaceItem>
                        </Space>
                    </div>
                </Body>
            }
        </ChildContent>
    </Card>
</div>
